[submodule "themes/paperMod"]
	path = themes/paperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = git@github.com:henuzxy/henuzxy.github.io.git
	branch = main
